<div class="diary-index-wrapper">
  <div class="container">
		<h1 class="text-center text-white">投稿一覧</h1>
		<% @diaries.each do |diary| %>
			<div class="row">
				<div class="col-md-offset-4 col-md-4 users-new-container">
      		<div class="diary-index-single">
						<p class='text-white'>
		        	タイトル：<%= diary.title %>
		        </p>
            <p class='text-white'>
		       		タグ：<%= diary.label_list %>
		        </p>
		       	<p class='text-white'>
		       		Body：<%= diary.body %>
		        </p>
            <p class="button-style">
              <%= link_to new_comment_path(diary_id: diary.id) do %>
                <%= "コメントする" %>
              <% end %>
            </p>
            <p>貰ったコメント</p>
            <% diary.comments.each do |comment| %>
              <p class="topic-text">
                <%= comment.content %>
              </p>
            <% end %>
            <p class="button-style">
              <%= link_to diaries_delete_url(diary_id: diary.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
              <%="投稿を削除する"%>
              <% end %>
            </p>
		    	</div>
				</div>
			</div>
	  <% end %>
	</div>
</div>
