<div class="diary-index-wrapper">
  <div class="container">
		<h1 class="text-center text-white">投稿一覧</h1>
		<% @diaries.each do |diary| %>
			<div class="row">
				<div class="col-md-offset-4 col-md-4 users-new-container">
      		<div class="diary-index-single">
						<p class='text-white'>
		        	タイトル：<%= diary.title %>
		        </p>
		       	<p class='text-white'>
		       		Body：<%= diary.body %>
		        </p>
            <p class="comment">
              <%= link_to comments_new_path(diary_id: diary.id) do %>
                <%= "コメント" %>
              <% end %>
            </p>
            <p>貰ったコメント</p>
            <% diary.comments.each do |comment| %>
              <p class="topic-text">
                <%= comment.content %>
              </p>
            <% end %>
		    	</div>
				</div>
			</div>
	  <% end %>
	</div>
</div>
