<div class="index-wrapper">
  <div class="container">
		<h1 class="text-center text-white">投稿一覧</h1>
		<% @diaries.each do |diary| %>
			<div class="diary-layout">
      	<div class="index-single">
          <div class='text-whitee'><%= diary.updated_at %></div>
          <div class='text-title'><%= diary.title %></div>
          <p class="tag-style">タグ</p>
          <div class='tag-list'><%= diary.label_list %></div>
		      <div class='diary-text'><%= diary.body %></div>
          <p class="comment-button-style">
              <%= link_to "コメントする", new_comment_path(diary.id)%>
          </p>
            <p class="give-comment">貰ったコメント</p>
            <% diary.comments.each do |comment| %>
              <div class="comment-text"><%= comment.content %></div>
              <div class="delete-button-style">
                コメントを
                <%= link_to "編集する", edit_comment_path(comment.id)%>
                <%= link_to "削除する", comment_path(comment.id, diary.id), method: :delete, data: {confirm: "本当に削除しますか？"}%>
              </div>
            <% end %>
            <div class="right-position">
              <a href="https://twitter.com/yuya05020" class="fl_tw">
                <span class="twicon"><i class="fa fa-twitter"></i></span> Follow Me
              </a>
              <a href="https://www.facebook.com/yuya.yamashita.5249" class="fl_fb">
                <span class="fbicon"><i class="fa fa-facebook"></i></span> Follow Me
              </a>
              <a href="https://www.instagram.com/yuya.yamashita/?hl=ja" class="fl_inst">
                <span class="insta"><i class="fa fa-instagram"></i></span> Follow Me
              </a>
              <div class="delete-button-style">
                記事を
                <%= link_to "編集する", edit_diary_path(diary.id)%>
                <%= link_to "削除する", diary_path(diary.id), method: :delete, data: {confirm: "本当に削除しますか？"}%>
              </div>
          </div>
		    	</div>
				</div>
	  <% end %>
	</div>
</div>
