<!DOCTYPE html>
<html>
  <head>
    <title>History</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to root_path do %>
                <span class="logo-title"><%="History"%></span>
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li>
              <%= link_to "マイページ", users_path%>
            </li>
              <li>
                <%= link_to "日記投稿", new_diary_path%>
              </li>
              <li>
                <%= link_to "投稿一覧", diaries_path%>
              </li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete%>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_path%>
              </li>
              <li>
                <%= link_to "ログイン", login_path%>
              </li>
            <% end %>
          </ul>
        </div>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
