<!DOCTYPE html>
<html>
  <head>
    <title>History</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class="container">
          <%= link_to root_path do %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li>
              <%= link_to root_path do %>
                <%="トップページ"%>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <%="マイページ"%>
              <% end %>
            </li>
              <li>
                <%= link_to new_diary_path do %>
                  <%= '日記投稿' %>
                <% end %>
              </li>
              <li>
                <%= link_to diaries_path do %>
                  <%= '投稿一覧' %>
                <% end %>
              </li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <%="ログアウト"%>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_path do %>
                  <%="新規登録"%>
                <% end %>
              </li>
              <li>
                <%= link_to login_path do %>
                  <%="ログイン"%>
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>
                  <%="トップページ"%>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
